# Configurações da Aplicação
PORT=3000

# Configurações do Banco de Dados (PostgreSQL)
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=tsukuyomi

# Autenticação (JWT)
JWT_SECRET=your_super_secret_jwt_key

# Serviços de Armazenamento (Ex: Backblaze B2)
STORAGE_PROFILE_PICTURE_BUCKET=seu-bucket-de-fotos-de-perfil
STORAGE_PROFILE_BANNER_BUCKET=seu-bucket-de-banners-de-perfil
BACKBLAZE_KEY_ID=sua_key_id
BACKBLAZE_APPLICATION_KEY=sua_application_key

# Integrações (Ex: Discord)
DISCORD_WEBHOOK_URL=seu_webhook_do_discord
